body {
  background-image: url(../images/green_dust_scratch.png);
}
html,
body {
  min-height: 100%;
}
.navbar-brand {
  background-color: orange;
}
.container {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  margin-bottom: 75px;
  border: 5px solid orange;
  border-radius: 25px;
}
.container-fluid {
  display: flex;
}
.footer-dark {
  border-top: 7px solid orange;
}
.navbar-dark {
  margin-bottom: 35px;
}
#me {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#subButton {
  background-color: orange;
}

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    background-color: white;
  }
  .container img {
    width: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    background-color: white;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    background-color: white;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    background-color: white;
  }
}
