body {
    background-color: gainsboro;
}
.navbar-brand {
    background-color: aquamarine;
}
.container {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
}













/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        background-color: white;
    }
    .container img {
        width: auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        background-color: white;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        background-color: white;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        background-color: white;
    }
}